body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
line-height: 25px;
background: rgba(255, 255, 255, 0.6);
padding: 10px;
font-size: 20px;
width: auto;
}

.legend i {
width: 20px;
height: 20px;
float: left;
margin-right: 8px;
}

.popup {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  box-shadow: none !important;
}